/*CSS de la web Tienda de Libros*/
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'ModernPictograms';
  src: url('../fonts/modernpics.eot'); /* IE9 Compat Modes */
  src: url('../fonts/modernpics.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/modernpics.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/modernpics.woff') format('woff'), /* Modern Browsers */
    url('../fonts/modernpics.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
}

#contenedor {
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    width: 960px;
    background-color: black;
    cursor: default;
}

#contenedor a {
    text-decoration: none;
}

.modulo {
    clear: both;
}

.iconos {
    width: 30%;
    float: left;
}

header div {
    float: left;
    display: table;
    width: 40%;
}

header h1 {
    font-size: 5em;
    display: table-row;
    color: green;
    text-align: center;
}

header figure img {
    width: 100%;
}

#registro {
    padding-top: 0.5em;
    width: 15%;
    float: left;
}

#registro a {
    color: white;
}

.links:hover {
    color: black !important;
    background: white;
}

#sesion {
    width: 85%;
    float: left;
    text-align: right;
}

#sesion p {
    display: inline-block;
    color: white;
}

#carro::after {
    font-size: 1.5em;
    font-family: ModernPictograms;
    color: white;
    content: "i";
}

#opciones ul {
    list-style: none;
    overflow: hidden;
    margin-bottom: 1em;
}

#opciones ul li {
    padding-top: 0.7em;
    width: 15%;
    float: left;
    text-align: center;
}

#opciones ul #busqueda {
    width: 25%;
    padding-top: 0;
}

#opciones ul li .links {
    display: block;
    color: white;
}

#buscar::after {
    font-family: ModernPictograms;
    color: white;
    content: "s";
    font-size: 1.5em;
}

#imagen img {
    width: 100%;
    height: 30em;
}

#gancho p {
    font-size: 5em;
    color: forestgreen;
    text-align: center;
}

#libros {
    text-align: center;
}

.libro {
    position: relative;
    display: inline-block;
    margin: 2%;
}

.subapartado {
    color: green;
}

#contacto {
    float: left;
    width: 50%;
    color: green;
    text-align: center;
    line-height: 2em;
}

address, #copyright {
    text-align: center;
    color: white;
    line-height: 2em;
}

#social {
    float: left;
    width: 50%;
    color: white;
    text-align: center;
    line-height: 2em;
}

#social div {
    display: inline;
    float: left;
    width: 25%;
}

#social img {
    width: 80%;
}

#geolocalizacion {
    clear: both;
    text-align: center;
    line-height: 2em;
}

#legal {
    line-height: 2em;
    clear: both;
    width: 100%;
    color: white;
    text-align: center;
}

#legal a {
    color: white;
}

#fotominions {
    position: relative;
}

#fotominions img {
    height: 40em;
    width: 100%;
}

#mensaje {
    text-align: center;
    color: forestgreen;
    font-size: 4em;
}

#inicio {
    color: white;
    text-decoration: underline !important;
}

#imagenlibro {
    text-align: center;
    float: left;
    width: 50%;
}

#imagenlibro img {
    width: 75%;
}

#datoslibro {
    font-size: 2em;
    line-height: 2.5em;
    text-align: center;
    float: left;
    width: 50%;
    color: forestgreen;
}

#datoslibro table {
    margin: auto;
}

.botonAccion {
    background: forestgreen;
    color: black;
    text-align: center;
    padding-bottom: 0.4em;
}

#botonComprar::after {
    font-family: ModernPictograms;
    color: black;
    content: " $";
    font-size: 1.4em;
}

#botonVolver::before {
    font-family: ModernPictograms;
    color: black;
    content: "R ";
    font-size: 1.4em;
}

.elementoMultimedia {
    float: left;
    width: 33.3%;
}

#multimedia {
    text-align: center;
}

#imagenRetocada img {
    width: 100%;
    height: 15em;
}

#video {
    color: white;
    width: 100%;
}

.botones {
    display: inline-block;
    background-image: url("../img/controles/player_buttons.png");
    border-radius: 50%;
}

.dimensionesBoton {
    width: 30px;
    height: 30px;
}

#reproducir {
        background-position: -254px -60px;
}

#pausar {
    background-position: -254px -107px;
}

#subirvolumen {
    background-position: -160px -60px;
}

#bajarvolumen {
    background-position: -160px -107px;
}

#carrusel {
    overflow: hidden;
    margin: 2em auto;
    width: 40%;
}

#carrusel ul {
    display: flex;
    width: 1000%;
    animation: cambiarfoto 20s infinite normal;
}

#carrusel img {
    width: 100%;
    height: 11em;
}

@keyframes cambiarfoto {
    9% {margin-left: 0%;}
    10% {margin-left: -100%;}
    19% {margin-left: -100%;}
    20% {margin-left: -200%;}
    29% {margin-left: -200%;}
    30% {margin-left: -300%;}
    39% {margin-left: -300%;}
    40% {margin-left: -400%;}
    49% {margin-left: -400%;}
    50% {margin-left: -500%;}
    59% {margin-left: -500%;}
    60% {margin-left: -600%;}
    69% {margin-left: -600%;}
    70% {margin-left: -700%;}
    79% {margin-left: -700%;}
    80% {margin-left: -800%;}
    89% {margin-left: -800%;}
    90% {margin-left: -900%;}
    99% {margin-left: -900%;}
    100% {margin-left: -1000%;}
}
